/* General container settings */
.contact-container {
  width: 60%; /* Increased responsiveness */
  margin-top: 2.5rem;
  padding: 2rem;
}

.contact-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

/* Responsive map wrapper */
.map-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Office cards grid */
.office-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

/* Office cards styling */
.contact-info {
  flex: 1 1 calc(50% - 1rem); /* Two columns on desktop */
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #333;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: #b4b4b4 0px 4px 6px -1px;
}

.contact-info h2 {
  font-weight: 600;
}

.contact-info p {
  margin: 0.2rem 0;
  line-height: 1.5;
}

/* Contact Form styling */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  margin-bottom: 1rem;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .contact-info {
    flex: 1 1 100%; /* Stack office cards on tablets */
  }
}

@media (max-width: 768px) {
  .contact-container {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 90%;
    padding: 0rem;
  }

  .map-wrapper {
    flex-direction: column;
  }

  .contact-info {
    flex: 1 1 100%;
    padding: 1rem;
  }

  .contact-container h1 {
    font-size: 1.5rem;
  }

  .contact-form button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contact-container {
  min-width: 80%;
  }
  
  .contact-container h1 {
    font-size: 1.3rem;
  }

  .contact-form textarea {
    height: 120px;
  }
}
